<div class="fixed-action-btn vertical">
  <a class="btn-floating btn-large deep-orange darken-2">
    <i class="large material-icons">face</i>
  </a>
  <ul>
    <li><a class="btn-floating deep-purple lighten-3" href="tel:1-570-236-8299"><i class="material-icons">call</i></a></li>
    <li><a class="btn-floating light-blue lighten-3" href="https://www.linkedin.com/in/kaylanussbaum" target="_blank"><img src="/assets/images/linkedin.png" id="navicon-in"></a></li>
    <li><a class="btn-floating green lighten-1" href="https://github.com/kbaumzie" target="_blank"><img src="/assets/images/github.png" id="navicon-git"></a></li>
    <li><a class="btn-floating yellow darken-2" href="mailto:kayla.ann.nussbaum@gmail.com"><i class="material-icons">email</i></a></li>
    <li><a class="btn-floating orange darken-2" href="/assets/pdf/kayla_nussbaum_resume_2022.pdf" download="kayla_nussbaum_resume_2022.pdf"><i class="material-icons">description</i></a></li>
  </ul>
</div>
