<div class="fixed-action-btn vertical">
  <a class="btn-floating btn-large deep-orange darken-2">
    <i class="large material-icons">face</i>
  </a>
  <ul>
    <li><a class="btn-floating deep-purple lighten-3"><i class="material-icons">call</i></a></li>
    <li><a class="btn-floating light-blue lighten-3"><img src="/assets/images/linkedin.png" id="navicon-in"></a></li>
    <li><a class="btn-floating green lighten-1"><img src="/assets/images/github.png" id="navicon-git"></a></li>
    <li><a class="btn-floating yellow darken-2"><i class="material-icons">email</i></a></li>
    <li><a class="btn-floating orange darken-2"><i class="material-icons">description</i></a></li>
  </ul>
</div>
