<div class="row" id="educationRow">
  <div class="col s6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-orange">
        <img class="activator" src="/assets/images/rit.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Rochester Institute of Technology<i class="material-icons right">more_vert</i></span>
        <p>Bachelor of Science in <a href="http://www.se.rit.edu/" target="_blank">Software Engineering</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">RIT<i class="material-icons right">close</i></span>
        <p><i>Graduating in 2019 with a Bachelors in Software Engineering and a minor in Digital Literature and Comparative Media</i></p>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/assets/images/wic.png" alt="WiC" class="circle">
            <span class="title">Women in Computing</span>
            <p class="sub">Active Member! Assists with several outreach events to teach young women to code</p>
          </li>
          <li class="collection-item avatar">
            <img src="/assets/images/sse.png" alt="SSE" class="circle">
            <span class="title">Society of Software Engineers</span>
            <p class="sub">Active Member and Committee Head for the annual Winter Ball Event</p>
          </li>
          <li class="collection-item avatar">
            <img src="/assets/images/rit-tiger.png" alt="UGRD" class="circle">
            <span class="title">Brick City Ambassador</span>
            <p class="sub">Represents the college and assists with open houses and undergraduate recruiting</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-royal">
        <img class="activator" src="/assets/images/pvhs.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Pleasant Valley High School<i class="material-icons right">more_vert</i></span>
        <p><a href="http://www.pvbears.org/" target="_blank">2014 Graduate with Magna Cum Laude Honors</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">PVHS<i class="material-icons right">close</i></span>
        <p><i>Graduated in 2014 within the top 10% of class</i></p>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/assets/images/nhs.png" alt="NHS" class="circle">
            <span class="title">National Honor Society</span>
            <p class="sub">Maintained higher than a 3.0 GPA all years of high school</p>
          </li>
          <li class="collection-item avatar">
            <img src="/assets/images/nahs.jpg" alt="NAHS" class="circle">
            <span class="title">National Art Honor Society</span>
            <p class="sub">Active Member for 5 years and former President of the Society</p>
          </li>
          <li class="collection-item avatar">
            <img src="/assets/images/paint.png" alt="Art" class="circle">
            <span class="title">Best Class Artist</span>
            <p class="sub">Superlative awarded after painting 2 empowering murals in the middle school hallways</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
