<div id="gridContent">
  <div class="row rowStyle vhs-left">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/intuit.png" alt="Intuit">
    </div>
    <div class="col s6 textCol">
      <h5>Front-end Software Engineering Co-op</h5>
      <p>TurboTax engineer with a focus to maintain the tax home dashboard experience.</br>
        https://myturbotax.intuit.com/
      </p>
      <span class="skill">Backbone JS</span>
      <span class="skill tool">Git</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill tool">Jenkins</span>
      <span class="skill">Karma</span>
      <span class="skill">React JS</span>
      <span class="skill">Redux</span>
      <span class="skill tool">Selenium</span>
      <span class="skill tool">Splunk</span>
    </div>
    <div class="col s3 textCol">
      <h6>San Diego, CA</h6>
      <h6><i>January 2018 - July 2018</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left vhs-delay-3">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/blackbaud.png" alt="Blackbaud">
    </div>
    <div class="col s6 textCol">
      <h5>Full-Stack Software Engineering Intern</h5>
      <p>Engineer for the Financial Edge Nxt product line. Responsible for developing, designing,
      and maintaining the Financial Edge Nxt Budget Creator Excel Add-on.</br>
        https://appsource.microsoft.com/en-us/product/office/WA104381292?src=office&tab=Overview
      </p>
      <span class="skill">Angular JS</span>
      <span class="skill">C#</span>
      <span class="skill tool">Chai</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill tool">JQuery</span>
      <span class="skill">Karma</span>
      <span class="skill tool">Mocha</span>
      <span class="skill">TFS Version Control</span>
      <span class="skill">Visual Studio</span>
    </div>
    <div class="col s3 textCol">
      <h6>Charleston, SC</h6>
      <h6><i>May 2017 - August 2017</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left vhs-delay-5">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/ctct.png" alt="CTCT">
    </div>
    <div class="col s6 textCol">
      <h5>Full-Stack Software Engineering Co-op</h5>
      <p>Focus in maintaining the API for the online email editing tool.
      Strong attention to UI components and testing.</p>
      <span class="skill">Backbone Marionette</span>
      <span class="skill tool">Git</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill">JavaScript</span>
      <span class="skill tool">Jenkins</span>
      <span class="skill tool">Protractor</span>
      <span class="skill">Rails</span>
      <span class="skill">RSpec</span>
      <span class="skill">Ruby</span>
      <span class="skill tool">Splunk</span>
    </div>
    <div class="col s3 textCol">
      <h6>Waltham, MA</h6>
      <h6><i>January 2017 - May 2017</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left vhs-delay-7">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/msft.png" alt="MSFT">
    </div>
    <div class="col s6 textCol">
      <h5>Student Partner</h5>
      <p>Technical Evangelist and Microsoft Product specialist at the Rochester
      Institute of Technology campus. Active support for students looking to
      get more involved with coding by holding custom workshops.</p>
      <span class="skill tool">Azure</span>
      <span class="skill tool">C#</span>
      <span class="skill tool">Django</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill">JavaScript</span>
      <span class="skill">Python</span>
      <span class="skill tool">Visual Studio</span>
    </div>
    <div class="col s3 textCol">
      <h6>Rochester, NY</h6>
      <h6><i>August 2015 - January 2017</i></h6>
    </div>
  </div>

  <div class="row vhs-left vhs-delay-9">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/ge.gif" alt="GE">
    </div>
    <div class="col s6 textCol">
      <h5>Technical Developer Co-op</h5>
      <p>Hands-on development with migrating the Product Configurator application
      to the new Predix UI/UX 2.0 Platform. Develops a valuable, cost effective,
      and efficient solution for an inventory notification application, Heads Up Heads Down.</p>
      <span class="skill">Angular</span>
      <span class="skill">Apex</span>
      <span class="skill tool">Git</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill">Java</span>
      <span class="skill">JavaScript</span>
      <span class="skill">MySQL</span>
      <span class="skill">PostgreSQL</span>
      <span class="skill tool">Salesforce.com</span>
    </div>
    <div class="col s3 textCol">
      <h6>Feasterville-Trevose, PA</h6>
      <h6><i>June 2016 - August 2016</i></h6>
    </div>
  </div>
</div>
