<h4>Here is some recent work experience</h4>
<div id="experienceContent">
  <div class="row">
    <div class="col s4 itemLogoContainer">
      <!--<img src="/assets/images/ctct.png" alt="CTCT">-->CTCT
    </div>
    <div class="col s8">
      This div is 8-columns wide
    </div>
  </div>

  <div class="row">
    <div class="col s4 itemLogoContainer">
      <!--<img src="/assets/images/msft.png" alt="MSFT">-->MSFT
    </div>
    <div class="col s8">
      This div is 8-columns wide
    </div>
  </div>

  <div class="row">
    <div class="col s4 itemLogoContainer">
      <!--<img src="/assets/images/ge.gif" alt="GE">-->GE
    </div>
    <div class="col s8">
      This div is 8-columns wide
    </div>
  </div>
</div>
