<div class="row">
  <div class="col s3"></div>
    <div class="col s6">
      <div id="introContent">
        <div class="vhs-fade vhs-delay-3 vhs-duration-4" style="display: inline !important;">
          <img class="z-depth-4 circle responsive-img" id="me" src="/assets/images/kaylanussbaum.jpg">
        </div>
        <div id="introText">
          <h4 class="vhs-top">Kayla Nussbaum</h4>
          <p class="vhs-top vhs-delay-2"><i>Hello world. I am a passionate software engineer from Pocono Mountains, PA.</i></p>
        </div>
      </div>
    </div>
  <div class="col s3"></div>
</div>
