<div id="gridContent">
  <div class="row rowStyle vhs-left">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/frosting-logo.gif" alt="Frosting Logo">
    </div>
    <div class="col s6 textCol">
      <h5><a href="https://www.kaylanussbaum.com/frosting" target="_blank">Frosting</a></h5>
      <p>An open source CSS library showcasing pastel themes and bubbly components</p>
      <span class="skill">HTML/CSS</span>
    </div>
    <div class="col s3 textCol">
      <h6><i>2019+, work in progress</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/cow.png" alt="Cow">
    </div>
    <div class="col s6 textCol">
      <h5><a href="https://www.kaylanussbaum.com/recombinantAnimals" target="_blank">Recombinant Animals</a></h5>
      <p>A interactive learning tool to understand biotechnology in animals and its effect on the environment</p>
      <span class="skill">HTML/CSS</span>
      <span class="skill">JavaScript</span>
    </div>
    <div class="col s3 textCol">
      <h6><i>November 2018</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/vhp.png" alt="VHP">
    </div>
    <div class="col s6 textCol">
      <h5><a href="https://vulnerabilityhistory.org/" target="_blank">Vulnerability History Project</a></h5>
      <p>Software development research with a professor at RIT to develop an open
        collaboration platform for companies to track their vulnerability
        history. Builds a REST API that researchers can query,
        and a visual timeline website to represent that REST API.</p>
      <span class="skill tool">Git</span>
      <span class="skill tool">Heroku</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill">JavaScript</span>
      <span class="skill">Rails</span>
      <span class="skill">Ruby</span>
      <span class="skill">PostgreSQL</span>
    </div>
    <div class="col s3 textCol">
      <h6><i>August 2016 - December 2016</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left vhs-delay-3">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/career-explorers.png" alt="CE">
    </div>
    <div class="col s6 textCol">
      <h5>Career Explorers Program</h5>
      <p>Program organized for research and development in engineering for
      students in grades 6th to 10th. Focus on developing apps where we
      are able to teach the basics of computer science.</p>
      <span class="skill">HTML/CSS</span>
      <span class="skill">JavaScript</span>
      <span class="skill">Python</span>
      <span class="skill tool">Scratch</span>
      <span class="skill">SQL</span>
      <span class="skill tool">MIT App Builder</span>
    </div>
    <div class="col s3 textCol">
      <h6><i>August 2015 - January 2017</i></h6>
    </div>
  </div>

  <div class="row rowStyle vhs-left vhs-delay-4">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/chromium.png" alt="Chromium">
    </div>
    <div class="col s6 textCol">
      <h5><a href="https://github.com/andymeneely/chromium-history" target="_blank">Do many eyes make all vulnerabilities shallow?</a></h5>
      <p>The question that most developers strive to answer when straying from the
      engineering meta. Research at RIT funded by Collaborative Research Experience for
      Undergraduates (CREU). Discovers cyber security vulnerabilities,
      and mines code inspection logs in Google Chromium.</p>
      <span class="skill tool">Git</span>
      <span class="skill">Python</span>
      <span class="skill">PostgreSQL</span>
      <span class="skill">Ruby</span>
      <span class="skill">R</span>
      <span class="skill">Shell</span>
    </div>
    <div class="col s3 textCol">
      <h6><i>August 2015 - May 2016</i></h6>
    </div>
  </div>

  <div class="row vhs-left vhs-delay-5">
    <div class="col s3">
      <img class="itemLogoContainer" src="/assets/images/wic-hacks.png" alt="WiC Hacks">
    </div>
    <div class="col s6 textCol">
      <h5><a href="https://github.com/kbaumzie/wic-hacks-2015" target="_blank">weSource by weTech</a></h5>
      <p>Project Manager for Women In Computing Hack-A-Thon event.
      Built a responsive website that navigates to educational help links.
      Inspired to help women of all ages find the educational resources they need
      to become successful.</p>
      <span class="skill tool">Git</span>
      <span class="skill">HTML/CSS</span>
      <span class="skill">Sass</span>
    </div>
    <div class="col s3 textCol">
      <h6><i>February 2015</i></h6>
    </div>
  </div>
</div>
