<h4>Some projects I'm working on</h4>
<div id="experienceContent">
  <div class="row">
    <div class="col s4 itemLogoContainer">
      <!--<img src="/assets/images/" alt="">-->Pic
    </div>
    <div class="col s8">
      This div is 8-columns wide
    </div>
  </div>

  <div class="row">
    <div class="col s4 itemLogoContainer">
      <!--<img src="/assets/images/" alt="">-->Pic
    </div>
    <div class="col s8">
      This div is 8-columns wide
    </div>
  </div>

  <div class="row">
    <div class="col s4 itemLogoContainer">
      <!--<img src="/assets/images/" alt="">-->Pic
    </div>
    <div class="col s8">
      This div is 8-columns wide
    </div>
  </div>
</div>
