/* A main stylesheet that maintains the theme of my page */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,400');

/* HTML formatting */

body {
  font-family: 'Raleway';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h4 {
  text-align: center;
}

h6 {
  text-align: center;
}

main {
  flex: 1 0 auto;
}

/* Main sections of personal content */

#introduction {
  text-align: center;
  padding: 2%;
}

.tabs {
  background-color: #ffebee !important;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.20);
  color: #424242;
}

#me {
  height: 20%;
  width: 20%;
}

#navicon-in {
  height: 30%;
  width: 30%;
}

#navicon-git {
  height: 50%;
  width: 50%;
  margin-top: 25%;
}

#about {
  height: 200px;
}

#educationRow {
  margin-bottom: 0;
  padding: 5%;
}

#experienceContent {
  padding: 5%;
}

#itemLogoContainer {
  max-height: 100px;
  height: 100px;
}

#itemLogoContainer img {

}

#projects {

}

#resume {
  padding: 5%;
}

#resumeDescription {
  font-style: italic;
  padding-bottom: 2%;
  margin-top: 0;
}

#footerContent a:hover{
  color: #9acde6 !important;
}

/* Overwrite Materialize CSS */

.page-footer {
  margin-top: 0px !important;
  padding-top: 20px !important;
}

.parallax-container {
  height: 150px;
}

.waves-effect.waves-royal .waves-ripple {
  background-color: #2979ff;
}

.collection {
  border: 0px !important;
}
