/* A main stylesheet that maintains the theme of my page */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,400');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/* HTML formatting */

body {
  font-family: 'Raleway';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h5 {
  margin-top: 0px;
}

/* Main sections of personal content */

#introduction {
  padding: 2%;
  background-color: #F9F9FB;
}

#introText {
  margin-left: 5%;
}

.tabs {
  background-color: #F2F2F4 !important;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
  color: #424242;
}

#me {
  height: 18%;
  width: 18%;
  margin-right: 20px;
}

#navicon-in {
  height: 30%;
  width: 30%;
}

#navicon-git {
  height: 50%;
  width: 50%;
  margin-top: 25%;
}

#about {
  background-color: #1f011e;
}

.terminalRow {
  margin: 0;
  padding: 5% 0%;
}

#terminal {
  font-family: 'Inconsolata', monospace;
  background-color: #c09b9f;
  border: 3px solid #d3d3d3;
  border-radius: 5px;
  padding: 0px;
  width: 70%;
  margin: 0 auto;
  min-width: 600px;
  height: 450px;
}

#terminal p {
  margin-block: 0;
}

#terminalContent {
  padding: 0 5px 20px 0;
  height: calc(100% - 20px);
  overflow-y: scroll;
}

#windowOptions {
  background-color: #d3d3d3;
  height: 20px;
}

.windowIcons {
  border-radius: 50%;
  border: 3px solid;
  width: 10px;
  height: 10px;
  margin: 2px;
  display: inline-block;
}

#close {
  border-color: #fc635d;
  background-color: #fc635d;
}

#minimize {
  border-color: #fec041;
  background-color: #fec041;
}

#maximize {
  border-color: #35cc4b;
  background-color: #35cc4b;
}

#education {
  background-color: lavenderblush;
}

#educationRow {
  margin-bottom: 0;
  padding: 5%;
}

.sub {
  font-size: 12px;
}

#gridContent {
  padding: 5% 10%;
}

.rowStyle {
  margin-bottom: 90px;
}

.skill {
  border: 1px solid #b39ddb;
  border-radius: 18px;
  margin-right: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 11px;
  padding: 5px 12px;
}

.tool {
  border-color: #80cbc4;
}

.textCol {
  padding-left: 50px !important;
}

.itemLogoContainer {
  max-height: auto;
  width: 100%;
}

#experience {
  background: lavenderblush;
}

#projects {
  background: lavenderblush;
}

#footerContent {
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.40);
}

#footerContent a:hover{
  color: #9acde6 !important;
}

/* Overwrite Materialize CSS */

.page-footer {
  margin-top: 0px !important;
  padding-top: 20px !important;
  background-color: #746e74 !important;
}

.waves-effect.waves-royal .waves-ripple {
  background-color: #2979ff;
}

.collection {
  border: 0px !important;
}
